<section class="header">
  <nav>
    <a routerLink="/home">
      <img src="../assets/logo.png">
    </a>
    <div class="nav-links">
      <i class="fa fa-times"></i>
      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/about">ABOUT</a></li>
        <li><a routerLink="/course">COURSE</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/contact">CONTACT</a></li>
      </ul>
    </div>
    <i class="fa fa-bars"></i>
  </nav>
  <div class="text-box">
    <h1>World's Biggest University</h1>
    <p>Making website is one of the easiest thing in the world. you just need to learn html css</p>
    <a class="hero-btn" routerLink="/home">Visit us to know more</a>
  </div>
  
</section>

<!-- course -->
<section class="course">
  <h1>Courses we offer</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  <div class="row">
    <div class="course-col">
      <h3>Intermediate</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, 
        adipisci accusantium quos aut ipsam aspernatur ea iusto velit vitae quibusdam, fugiat, 
        illum pariatur nisi voluptatum commodi. Ea error cum quas!</p>
    </div>
    <div class="course-col">
      <h3>Degree</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, 
        adipisci accusantium quos aut ipsam aspernatur ea iusto velit vitae quibusdam, fugiat, 
        illum pariatur nisi voluptatum commodi. Ea error cum quas!</p>
    </div>
    <div class="course-col">
      <h3>Graduation</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, 
        adipisci accusantium quos aut ipsam aspernatur ea iusto velit vitae quibusdam, fugiat, 
        illum pariatur nisi voluptatum commodi. Ea error cum quas!</p>
    </div>
  </div>
</section>
<!-- campus -->

<section class="campus">
  <h1>Our global campus</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="row">
    <div class="campus-col">
      <img src="../assets/london.png" alt="">
      <div class="layer">
        <h3>LONDON</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../assets/newyork.png" alt="">
      <div class="layer">
        <h3>NEWYORK</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../assets/washington.png" alt="">
      <div class="layer">
        <h3>WASHINGTON</h3>
      </div>
    </div>
  </div>
</section>

<!-- facilities -->
<section class="facilities">
  <h1>Our Facilities</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  <div class="row">
    <div class="facilities-col">
      <img src="../assets/library.png" alt="">
      <h3>World class library</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="facilities-col">
      <img src="../assets/basketball.png" alt="">
      <h3>Largest play groung</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="facilities-col">
      <img src="../assets/cafeteria.png" alt="">
      <h3>Tasty and healthy food</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>

<!-- Testimonials -->

<section class="testimonials">
  <h1>What out student says</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../assets/user1.jpg" alt="">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Labore nostrum eum ratione aliquam, odio, tenetur beatae recusandae repudiandae amet eveniet 
          eos cum quasi soluta sapiente eligendi, nihil pariatur ut obcaecati!</p>
          <h3>Christine Berkley</h3>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../assets/user2.jpg" alt="">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Labore nostrum eum ratione aliquam, odio, tenetur beatae recusandae repudiandae amet eveniet 
          eos cum quasi soluta sapiente eligendi, nihil pariatur ut obcaecati!</p>
          <h3>David Bayer</h3>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
      </div>
    </div>
  </div>
</section>


<!-- Call to Action -->
<section class="cta">
  <h1>Enroll for various online course anywhere from the world</h1>
  <a routerLink="/contact" class="hero-btn">CONTACT US</a>
</section>

<!-- footer -->
<section class="footer">
  <h4>About Us</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Labore nostrum eum ratione aliquam, odio, tenetur beatae recusandae repudiandae amet <br>eveniet 
    eos cum quasi soluta sapiente eligendi, nihil pariatur ut obcaecati!</p>
    <div class="icons">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> Himanshu Jain</p>
</section>